$error: #dc3545;

body {
  background: #fdfdfd;

}
h3{
  display: inline-block;
}

.invalid-feedback {
  display: block;
}

input.invalid{
  border-color: $error;
}
.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}